@model mvc.ViewModels.SquareRootViewModel

<form asp-controller="Math" asp-action="SquareRoot" method="post">
    <div class="row">
        <div class="col-5 mx-auto">
            <input asp-for="A" style="max-width: 30px;" placeholder="A"/> X&#178; + 
            <input asp-for="B" style="max-width: 30px;" placeholder="B"/> X + 
            <input asp-for="C" style="max-width: 30px;" placeholder="C"/> = 0
            <h5 class="mt-3"><button class="btn btn-primary" type="submit">Solve</button></h5>
        </div>
    </div>

</form>

@if(Model != null)
{

    @if(Model.HasRoots)
    {
        if(!string.IsNullOrWhiteSpace(Model.X1) && Model.X1 == Model.X2)
        {
            <p>X1, X2 = @Model.X1</p>
        }
        else
        {
            <p>X1 = @Model.X1</p>
            <p>X2 = @Model.X2</p>
        }
    }
    else
    {
        <p>Javobi yo'q!</p>
    }
}